* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.main {
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}
.search {
    height: 33px;
    display: flex;
    justify-content: space-between;
}
.search input {
    border-radius: 30px;
    background: #ebfffc;
    padding-inline: 15px;
    font-size: 14px;
    width: 65%;
    outline: none;
    border: none;
}
.search button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ebfffc;
    border: none;
    outline: none;
    cursor: pointer;
}
.search button img {
    height: 40%;
    width: 40%;
    margin: 1px;
    object-fit: cover;
    object-position: top;
}
.temp {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-image {
    height: 35%;
    width: 35%;
    padding: 10px;
    margin: 8px;
    margin-bottom: 12px;
}
.temp h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}
.temp h3 {
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 10px;
}
.extra {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.humidity-wind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 50px;
}
.small-img {
    height: 23px;
}
.right {
    margin: 14px;
    width: inherit;
}
.value {
    font-size: 20px;
    text-align: left;
    font-weight: 470;
}
.text {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
}